<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Sentence Generator</title>
</head>
<body>
    <h1>Random Sentence Generator</h1>

    <form action="/generate_sentence" method="post">

       <label for="name">Name:</label>
       <input type="text" id="name" name="name" required><br><br> 

       <label for="date">Year:</label>
       <input type="text" id="year" name="year" required><br><br> 

       <label for="date">City:</label>
       <input type="text" id="city" name="city" required><br><br> 


      <p>Click button to generate a random sentence:</p>
      <input type="submit" value="Submit">

    </form>
</body>
</html>

