<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Changing Webpage</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <h1>Welcome to Background Color Changer!</h1>

    <div class="button-container">
        <p>Click the button below to change the background color:</p>
        <button onclick="changeBackgroundColor()">Change Color</button>
    </div>

    <script src="static/js/script.js"></script>
</body>
</html>

